* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white-bg: #ffff;
  ---black-color: #000;
  ---white-text: #ffff;
  ---tag-text: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  ---color-1: #f85a40;
  ---color-2: #008374;
}
